@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><img src="~/Image/documentflow.png" width="280" class="img-responsive pull-right"></p>
    <h1>BizDoc</h1>
    <p class="lead">Система документооборота</p>
    <p>
        Документооборот — деятельность по организации движения документов на предприятии
        с момента их создания или получения до завершения исполнения: отправки из организации и (или) направления в архив.
    </p>
    <p><a href="IncomingDocument/" class="btn btn-primary btn-lg">Документы &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Входящие документы</h2>
        <p>
            Управление входящими документами. Установка статусов, добавление документов, назначение исполнителей
        </p>
        <p><a class="btn btn-default" href="IncomingDocument/">Перейти в документы &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Исходящие документы</h2>
        <p>
            Управление исходящими документами. Установка статусов, добавление документов, добавление примечаний

        </p>
        <p><a class="btn btn-default" href="OutboxDocument/">Перейти в документы &raquo;</a></p>
    </div>
    <div class="col-lg-12">
        <hr />

        <p class="lead">
            Для организации электронного документооборота на сервере организации создается база данных, где хранятся все созданные документы.
        </p><p>
            Доступ к базе данных осуществляется через браузер (как правило, поддержку браузера определяет разработчик созданного интерфейса).
            Возможен доступ как по локальной сети (внутренней), так и через интернет (внешний).
            Документы сохраняются или загружаются в определённые выделенные папки организации.
            Создавать, модифицировать, удалять созданные документы имеет право лицо, наделённое соответствующими правами.
        </p>
    </div>
</div>